body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
.container {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center items */
}

.winner {
    font-size: 24px;
    margin-bottom: 200px; /* Space above the buttons */
    color: #333;
    text-align: center; /* Center the text */
}

.result {
    font-size: 48px; /* Large font size for results */
    margin: 20px 0; /* Space around the result message */
    color: #e74c3c; /* Default color for the result */
    text-align: center; /* Center the text */
}

.buttons {
    display: flex;
    justify-content: center;
}

.button {
    padding: 15px 30px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
}

.rock {
    background-color: #e74c3c; /* Red */
}

.paper {
    background-color: #3498db; /* Blue */
}

.scissors {
    background-color: #f1c40f; /* Yellow */
}

.button i {
    margin-right: 10px; /* Space between icon and text */
}

.button:hover {
    opacity: 0.8;
}